.one-player-wrapper.active {
    border: 1px solid green;
}

.one-player-wrapper {
    /* background: rgb(255,0,245); */
    background: linear-gradient(90deg, rgba(255,0,245,1) 0%, rgba(255,0,0,1) 60%, rgba(0,212,255,1) 100%);
}
.one-player-wrapper.active::before {
    /* content: "♚"; */
}

.player-name.current-leader::before {
    content: "♚ ";
}

.button-three-pack {
    width: 100%;
    display: flex;
}

.button-three-pack > .number-button {
    flex-grow: 1;
    height: 50px;
}